*{
  
  /*Resetando as configurações*/
    margin: 0; 
    padding: 0; 
    font-family: 'open_sanslight';
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

/*Reset basico das midias*/

object,
embed,
video,
iframe,
iframe['style'] { max-width:100%; height:auto; }
img { max-width:100%; vertical-align:middle; }
ul  { list-style:none; }

/*Reset p Formulários em Todos Dispositivos*/
fieldset{border: 0;}
input,
select,
textarea{padding: 10px; width: 100%;}
input.btn{width: auto; cursor: pointer;}

/*vai ser a box de controle*/
.container { float:left; width:100%; background-color:#e9ecf0; }
.clear     { clear:both; }
.fontzero  { font-size:0; }

/*È uma Seção de Titulo */
.section_title{ font-size: 1em; text-align: center; color: #333; }

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/L6m6wKl7GC5y.woff2') format('woff2'),
         url('../fonts/zTKaFAZkujwF.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/V0dzeFuKTr2S.woff2') format('woff2'),
         url('../fonts/vpKVkQZ6d4GY.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/B0Kk7BK5sICg.woff2') format('woff2'),
         url('../fonts/mS75z77MC6fA.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/xecoOy56bgnQ.woff2') format('woff2'),
         url('../fonts/kClHBP0zbFut.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}